/*normalize*/
@import url("normalize.css");

/*fonts*/
@font-face {
  font-family: 'Merriweather', serif;
  src: url("https://fonts.googleapis.com/css?family=Merriweather");
}

/*style*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("../img/wallp.jpg") no-repeat bottom fixed;
  background-size: cover;
  font-size: 18px;
  font-family: 'Merriweather';
}

main {
  height: 100%;
  width:100%;
}

.greeting {
  color: #fcb932;
  position: absolute;
  min-width: 380px;
  min-height: 70px;
  top: 17%;
  left: 40%;
  }

h2 {
  text-transform: uppercase;
  background-color: rgba(212, 52, 32,.6);
  border-radius: 45px;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
  min-width: 530px;
  max-width: 48%;
}

p {
  background-color: rgba(32, 82, 52,.6);
  border-radius: 15px;
  display: inline-block;
  text-align: justify;
  padding: 15px 20px;
  min-width: 530px;
  max-width: 48%;
}

.white-snowfl {
  width: 60px;
  height: 60px;
  margin: 30px;
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 10px;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

.white-snowfl:hover {
  width: 250px;
  height: 250px;
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

.red-snowfl {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 3%;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

.red-snowfl:hover {
  width: 120px;
  height: 120px;
  -webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example1;
  animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example1 {
    0%   {left:3%; top:5%;}
    25%  {left:15%; top:10%; transform: rotate(80deg);}
    50%  {left:5%; top:15%;}
    75%  {left:15%; top:20%; transform: rotate(180deg);}
    100% {left:5%; top:5%;}
}

/* Standard syntax */
@keyframes example1 {
    0%   {left:3%; top:5%;}
    25%  {left:15%; top:10%; transform: rotate(80deg);}
    50%  {left:5%; top:15%;}
    75%  {left:15%; top:20%; transform: rotate(180deg);}
    100% {left:5%; top:5%;}
}

.green-snowfl {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 50%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.green-snowfl:hover {
  -webkit-transform: scale(2);
	transform: scale(2);
}

.triangle {
  width: 100%;
  height: 40%;
  padding-bottom: 20%;
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
}

.triangle::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-right: 600px solid transparent;
  border-bottom: 600px solid rgba(129,103,168,.4);
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  font-size: 1.2rem;
  color: #7b8c46;
}

.about {
  text-decoration: none;
  font-weight: bold;
  color: #7b8c46;
}

.about:hover {
  color: #b7b7b7;
}
